<table class="table align-items-center table-flush">
    <thead class="thead-light">
        <tr>
            <th class="border-bottom" scope="col">Modulo</th>
            <th class="border-bottom" scope="col">Secret Seed</th>
            <th class="border-bottom" scope="col">Mnemonic</th>
            <th class="border-bottom" scope="col">Status</th>
            <th class="border-bottom" scope="col">Ações</th>
        </tr>
    </thead>

    <tbody class="infoList">
        
        {{>dashboard/info}}
    </tbody>
</table>