.button_default
    outline 0
    border 0
    margin 0
    padding 0
    text-align center
    border-radius 15px
    line-height 1
    font-weight 500
    display inline-flex
    justify-content center
    align-items center
    white-space pre
    padding-left 20px
    padding-right 20px
    width 100%
    grid-gap 5px
    gap 5px
    font-family: inherit
    min-width 0
    padding-block 20px
    height: fit-content
    background #e8eefc
    color #2044bc
    transition background 100ms
    font-size 14px