@font-face
    font-family: "Gotham";
    src: local("Gotham"),
    url("/fonts/gotham/Gotham-Book_Web.font.woff2") format('woff2')  
    font-weight 400

@font-face
    font-family: "Gotham";
    src: local("Gotham"),
    url("/fonts/gotham/Gotham-Bold_Web.font.woff2") format('woff2')  
    font-weight 600

@font-face
    font-family: "Gotham";
    src: local("Gotham"),
    url("/fonts/gotham/Gotham-Medium_Web.font.woff2") format('woff2')  
    font-weight 500
