body

    &.unicred
        background-color #f4f6fb
        min-height 100vh
        display flex
        flex-direction column
        position relative
        font-family gotham
        font-feature-settings: "tnum"
        font-size 14px
        line-height: 1.5

    &.safety
        background-color #f8f8f8

    .header-container
        display flex
        width 100%
        justify-content center
        background-color #fff
        border-bottom 1px solid #dee3e7
        height 73px

        figure
            width 100%
            max-width 202px
            img
                width 100%


