html
    -webkit-tap-highlight-color: transparent
    -webkit-text-size-adjust: 100%

body
    margin 0
    padding 0

openSans = 'Open Sans', sans-serif
PTSans = 'PT Sans', sans-serif;
Inter = 'Inter', sans-serif;
color-primary = #166649
gotham = 'Gotham', sans-serif;

:root
    --wallet-with 420px
    --sidebar-with 220px
    --color-secondary #2043b6
    --font-size-small 12px
    --header-height 73px
    --info #3774f6

h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6
    font-family gotham


