<aside class="mnemonic-container">
    <form class="mnemonic-form" data-module="{{module}}">
        <label for="">Mnemonic</label>
        <textarea name="mnemonic" id="mnemonic" cols="30" rows="10"></textarea>
        <button disabled>Submit</button>
    </form>
</aside>